---
layout: archive
permalink: /categories/
title: "Categorias"
author_profile: false
sidebar:
  nav: "categorias"
---

{% include group-by-array collection=site.posts field="categories" %}

{% for category in group_names %}
  {% assign posts = group_items[forloop.index0] %}
  <h2 id="{{ category | slugify }}" class="archive__subtitle">{{ category }}</h2>
  {% for post in posts %}
    <div class="archive__item-teaser" style="text-align: center;"><img src="{{ post.header.image}}" alt="{{post.title}}" style="width: 300px;"></div>
    {% include archive-single.html %}
  {% endfor %}
{% endfor %}